<!doctype html>
<html class="no-js" lang="">

{% include "head.html" %}

<body class="{{site.environment}}">
{% if site.environment !== "production" %}
  <div class="environment-banner">
    You are viewing the website in a <span class="environment">{{ site.environment }}</span> environment. This is NOT live. 
  </div>
{% endif %}

  {{ content | safe }}

  {% include "scripts.html" %}
</body>

</html>
