---js
{
layout: "default.njk"
}
---

<div class="wrapper">
  <p><a href="/">Back to home page</a></p>
  <h1>
    CloudCannon CMS Proof of Concept
  </h1>

  <h2>Edit Text & Links</h2>
  <p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna <a href="https://www.qualys.com">aliqua</a>. Id aliquet risus feugiat in ante metus dictum at tempor. Dignissim convallis aenean
    et tortor at risus viverra. Porttitor eget dolor morbi non arcu risus quis varius. Venenatis urna cursus eget nunc
    scelerisque <a href="https://www.qualys.com">viverra</a> mauris in aliquam. </p>

  <h2>Edit Tables</h2>
  <table>
    <tr>
      <td>abc</td>
      <td>def</td>
      <td>ghi</td>
    </tr>
    <tr>
      <td>abc</td>
      <td>def</td>
      <td>ghi</td>
    </tr>
    <tr>
      <td>abc</td>
      <td>def</td>
      <td>ghi</td>
    </tr>
  </table>

  <h2>Edit Lists</h2>
  <ul class="editable">
    <li>abc</li>
    <li>def</li>
    <li>ghi</li>
  </ul>

</div>