---js
{
  layout: "default.njk"
}
---
<div class="wrapper">
<a href="/"><img src="/img/qualys-shield.png" alt="" class="qualys-shield"></a>

<p class="new-home">This website is a proof of concept for a new Qualys website and infrastructure.</p>

  <p>This site includes a proof of concept for 2 git-based CMSes: </p>
  <ul>
    <li><a href="/cms-cloudcannon/">CloudCannon CMS</a></li>
    <li><a href="/cms-spinal/">Spinal CMS</a></li>
  </ul>

<p class="author">For more info and a demo of the</p>
<ul>
  <li> build process</li>
  <li> release (deploy) process</li>
  <li> CMSes</li>
</ul>
<p>contact <a href="mailto:ayahya@qualys.com">Abdullah Yahya</a>. </p>

</div>